.results {
  display: none;
}

.display-pics {
  text-align: center;
}

.display-pics div {
  display: inline-block;
  margin: 10px;
  border: 2px solid grey;
}

.display-pics div img {
  width: 200px;
  height: 200px;
}

header {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
}

header h1 {
  display: inline-block;
}

header nav {
  float: right;
}

header nav div {
  display: inline-block;
}